In [2]:
import pandas as pd

In [6]:
df_1 = pd.read_csv('user_rating_0_to_1000.csv')

In [7]:
df_1.head(5)

   ID                                               Name           Rating
0   1  Agile Web Development with Rails: A Pragmatic ...   it was amazing
1   1  The Restaurant at the End of the Universe (Hit...   it was amazing
2   1                                         Siddhartha   it was amazing
3   1  The Clock of the Long Now: Time and Responsibi...  really liked it
4   1            Ready Player One (Ready Player One, #1)  really liked it

In [18]:
df_1.groupby('Rating')['Rating'].count()

Rating
This user doesn't have any rating      303
did not like it                        748
it was amazing                       14108
it was ok                             3349
liked it                             13155
really liked it                      20282
Name: Rating, dtype: int64

In [19]:
user_rating = df_1[df_1['Rating'] != 'This user doesn\'t have any rating']
user_rating.groupby('Rating')['Rating'].count()

Rating
did not like it      748
it was amazing     14108
it was ok           3349
liked it           13155
really liked it    20282
Name: Rating, dtype: int64

In [20]:
for i in range(1000, 5001, 1000):
    df = pd.read_csv('user_rating_' + str(i) + '_to_' + str(1000+i) + '.csv')
    df = df[df['Rating'] != 'This user doesn\'t have any rating']
    user_rating = user_rating.append(df)

In [24]:
df = pd.read_csv('user_rating_6000_to_11000.csv')
df = df[df['Rating'] != 'This user doesn\'t have any rating']
user_rating = user_rating.append(df)

In [25]:
user_rating.groupby('Rating')['Rating'].count()

Rating
did not like it      7811
it was amazing      92354
it was ok           28811
liked it            96047
really liked it    132808
Name: Rating, dtype: int64

In [26]:
user_rating.head(5)

   ID                                               Name           Rating
0   1  Agile Web Development with Rails: A Pragmatic ...   it was amazing
1   1  The Restaurant at the End of the Universe (Hit...   it was amazing
2   1                                         Siddhartha   it was amazing
3   1  The Clock of the Long Now: Time and Responsibi...  really liked it
4   1            Ready Player One (Ready Player One, #1)  really liked it

In [35]:
user_rating['userRating'] = user_rating['Rating'].apply(lambda x:  1 if x == 'did not like it' 
                                                       else ( 2 if x == 'it was ok' 
                                                       else (3 if x == 'liked it'
                                                       else (4 if x == 'really liked it' 
                                                       else 5))))

In [38]:
user_rating.drop('Rating', axis=1, inplace=True)

In [39]:
user_rating.head(5)

   ID                                               Name  userRating
0   1  Agile Web Development with Rails: A Pragmatic ...           5
1   1  The Restaurant at the End of the Universe (Hit...           5
2   1                                         Siddhartha           5
3   1  The Clock of the Long Now: Time and Responsibi...           4
4   1            Ready Player One (Ready Player One, #1)           4

In [40]:
user_rating.shape

(357831, 3)

In [41]:
user_rating.to_csv('user_rating.csv', index=False)

In [42]:
df = pd.read_csv('user_rating.csv')
df.head()

   ID                                               Name  userRating
0   1  Agile Web Development with Rails: A Pragmatic ...           5
1   1  The Restaurant at the End of the Universe (Hit...           5
2   1                                         Siddhartha           5
3   1  The Clock of the Long Now: Time and Responsibi...           4
4   1            Ready Player One (Ready Player One, #1)           4

In [43]:
df.shape

(357831, 3)